<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>ControllerFilter</filter-name>
        <filter-class>carrental.view.ControllerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ControllerFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>carrental.controller.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleServlet</servlet-name>
        <servlet-class>carrental.controller.servlet.vehicle.VehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleSave</servlet-name>
        <servlet-class>carrental.controller.servlet.vehicle.VehicleSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleDelete</servlet-name>
        <servlet-class>carrental.controller.servlet.vehicle.VehicleDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>carrental.controller.servlet.order.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderSave</servlet-name>
        <servlet-class>carrental.controller.servlet.order.OrderSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDelete</servlet-name>
        <servlet-class>carrental.controller.servlet.order.OrderDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JerseyWebApplication</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>carrental.controller.rest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>JerseyWebApplication</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleServlet</servlet-name>
        <url-pattern>/vehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleSave</servlet-name>
        <url-pattern>/vehicle/save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleDelete</servlet-name>
        <url-pattern>/vehicle/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderSave</servlet-name>
        <url-pattern>/order/save</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDelete</servlet-name>
        <url-pattern>/order/delete</url-pattern>
    </servlet-mapping>
    <!--<security-constraint>
        <web-resource-collection>
            <url-pattern>/vehicle/save</url-pattern>
            <url-pattern>/vehicle/delete</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>-->
</web-app>
